body {
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
    background-color: #121212;
    color: #ffffff;
}

/* Hero Section */
.hero-section {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 128, 255, 0.7)), url('https://source.unsplash.com/1600x900/?water') no-repeat center center/cover;
    color: white;
}

/* About Section */
.about-section, .features-section {
    background: #1f1f1f;
    color: #bbbbbb;
}

/* Subscribe Section */
.subscribe-section {
    background: linear-gradient(to bottom, #007bff, #0056b3);
    color: white;
}

/* Navbar */
.navbar {
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar.scrolled {
    background-color: #000000;
}

/* Custom Input */
.custom-input {
    background-color: #333333;
    border: 1px solid #555555;
    color: #ffffff;
    padding: 10px;
    font-size: 1.2em;
}

.custom-input::placeholder {
    color: #aaaaaa;
}

/* Footer */
.footer {
    background-color: #1f1f1f;
    color: #aaaaaa;
}